[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencensus-ext-azure = ">=1.0.7"
databricks-api = "==0.8.0"
typeguard = ">=2.12.0"
pytest = ">=6.2.3"
jupyter = ">=1.0.0"
python-dotenv = ">=0.17.0"
pypandoc = ">=1.4"
pdoc3 = ">=0.7.4"
pandas = ">=1.2.4"
pydataset = ">=0.2.0"
scikit-learn = ">=0.24.1"
pyarrow = ">=0.15.1"
databricks-cli = "==0.17.0"
dbx = "*"

[dev-packages]

[requires]
python_version = "3.8"
