# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
#https://github.com/marketplace/actions/run-databricks-notebook
# TO DO: Write A New Package For Setting Environment Variables From A Parameters File

name: DBX_CICD-DEPLOY

on: [workflow_dispatch] 

permissions:
      id-token:               write
      contents:               read

jobs:

  DBX_CICD_Deployment:
      name:                     DBX_CICD_Deployment
      runs-on:                  ubuntu-latest
      strategy:
        matrix:
          # Aligns To Environment Parameter File Names
          environments:          [Development, UAT, PreProduction, Production]   
      
      steps:

# 1.  Checkout Branch
        - name:                  Checkout Main Branch
        - uses:                  actions/checkout@v3       
        # Federated connections (below)
        # https://goodworkaround.com/2021/12/21/another-deep-dive-into-azure-ad-workload-identity-federation-using-github-actions/


# 2.  Login To Main Service Principal
        - name:                 Azure Login - ${{ matrix.environments }}
          uses:                 azure/login@v1
          with:
            creds:              ${{secrets.AZURE_CREDENTIALS}} 
      

# 3.  Create Env Variables From Parameters Files
        - name:                 .github/workflows/Pipeline_Param --> Env Variables
          uses:                 antifree/json-to-variables@v1.0.1
          with:
            filename:           '.github/workflows/Pipeline_Param/${{ matrix.environments }}.json'
            prefix:             param
        
        - name:                 Infrastructure/DBX_CICD_Deployment/BICEP_Params --> Env Variables
          uses:                 antifree/json-to-variables@v1.0.1
          with:
            filename:           'Infrastructure/DBX_CICD_Deployment/Bicep_Params/${{ matrix.environments }}/Bicep.parameters.json'
            prefix:             param


# 4.  Deploy Azure Resources    (BICEP)
        - name:                 Deploy DBX CICD Azure Resources
          run:                  bash ./.github/workflows/Utilities/Utils-Azure-Resources.sh
          env:
            environment:        ${{ matrix.environments }}


# 5.  Asign RBAC Permissions
        - name:                 Assign RBAC Permissions 
          run:                  bash ./.github/workflows/Utilities/Utils-Assign-RBAC.sh
          env:
            environment:        ${{ matrix.environments }}


# 6.  Switch To Databricks Service Principal
        - name:                 Authenticate to DBX Service Principal + Set AAD Tokens As Env Variables
          run:                  bash ./.github/workflows/Utilities/Utils-DBX-SP-Authenticate.sh
          env:
            ARM_CLIENT_ID:      ${{ secrets.ARM_CLIENT_ID }}
            ARM_CLIENT_SECRET:  ${{ secrets.ARM_CLIENT_SECRET }}
            ARM_TENANT_ID:      ${{ secrets.ARM_TENANT_ID }}


# 7.  Set Up Python
        - name:                 Setup Python
          uses:                 actions/setup-python@v4
          with:
            python-version:     '3.8'


# 8.  PAT Token --> Key Vault
        - name:                 Create And Store PAT Token In Key Vault
          run:                  bash ./.github/workflows/Utilities/Utils-Create-PAToken.sh


# 9.  Secret Scopes
        - name:                 Create Databricks Secret Scopes
          run:                  bash ./.github/workflows/Utilities/Utils-Create-Scope.sh


# 10. Databricks Clusters
        - name:                 Create Databricks Clusters
          run:                  bash ./.github/workflows/Utilities/Utils-Create-Cluster.sh
          env:
            environment:        ${{ matrix.environments }}


# 11. Databricks Git Config
        - name:                 Create Databricks Repos
          run:                  bash ./.github/workflows/Utilities/Utils-Create-Repo-Folders.sh
          env:
            environment:        ${{ matrix.environments }}
            PAT_GIT:            ${{ secrets.PAT_GIT }}
            ARM_CLIENT_ID:      ${{ secrets.ARM_CLIENT_ID }}


# 12. Databricks CLI Config
        - name:                   Install + Configure Databricks CLI
          run:                    bash ./.github/workflows/Utilities/Utils-DBX-CLI-Configure.sh


# 13. Databricks Wheel File Creation + DBFS/Cluster Upload
        - name:                   Create Wheel Files & Upload To DBFS
          run:                    bash ./.github/workflows/Utilities/Utils-Create-Wheels-DBFS-Cluster-Upload.sh
          env:
            environment:          ${{ matrix.environments }}
